@import "skin";
@include skin(
    $skin: 'lightgreen',
    $icon_color: green,
    $dark_color: #60BB7D,
    $light_color: #edf7f0,
    $dark_color_sel: #90dfbb,
    $light_color_sel: #ddffdd,
    $very_dark_color: #8b8,
    $very_light_color: #cfc,

    $error_msg_color: #cc0000,
    $error_msg_bgcolor: #ff6666,
    $warning_msg_color: #ff3300,
    $warning_msg_bgcolor: orange,
    $info_msg_color: #60BB7D,
    $info_msg_bgcolor: #f0f4f3
);


