@mixin skin(
   $skin,
   $icon_color,
   $dark_color,
   $light_color,
   $dark_color_sel,
   $light_color_sel,
   $very_dark_color,
   $very_light_color,
   $error_msg_color,
   $error_msg_bgcolor,
   $warning_msg_color,
   $warning_msg_bgcolor,
   $info_msg_color,
   $info_msg_bgcolor
)  {

.#{$skin}-skin {
  .header {
    .icon {
      background-image: url(/assets/images/knot-note-#{$icon_color}-48x48.png);
      background-repeat: no-repeat;
      background-position: 3px -4px;
    }
  
    .title {
      color: $dark_color;
    }

    .menu-wrapper {
      padding: 5px;
      .menu-dropdown, .menu-button {
        color: $dark-color;
        background-color: $light_color;
      }
      .menu-button:hover, .opened-menu-button {
        color: $light-color;
        background-color: $dark_color;      
      } 
     	.menu-item:hover {
        color: $light-color;
        background-color: $dark_color;      
		  }
    }
  }
  .h2, .h3 {
    color: transparentize($dark_color, 0.25); // fade-out($dark_color, 0.25);
  }

  .defaultcolor {
      color: $very_dark_color;
  }
  button {
      background-color: $light_color;
      border: 1px solid $dark_color;
      color: $dark_color;
      &:hover { 
       	background-color: $very_light_color;
        color: $dark_color_sel;
      }
     &:disabled {
      	background-color: $light_color;
  	    color: $very_dark_color;
     }
  }
  .items {
    li {
      background-color: $very_light_color;
      border-color: $dark_color;
      &:hover {
        color: $dark_color;
        background-color: $light_color_sel;
      }
    }

    .selected-item {
      background-color: $dark_color_sel;
      color: $light_color;
    
	    &:hover {
  		  background-color: $light_color_sel;
	    }
    }
    .badge {
       background-color: $dark_color;
       color: $very_light_color;
    }
    input { 
      color: $dark_color; 
      background-color: $light_color; 
    }
  }
  .module, .settings *, .header {
     color: $dark_color; 
     background-color: $light_color;
     border-color: $dark_color;
    input { color: $dark_color; }
  }

     /* overrides items color in module */
  .module .items li { color:$dark_color; }

  .tree-wrapper {
    .node-content-wrapper {
       color: $dark_color;
       // background-color: $very_light_color;
    
       &:hover { 
         // color: $dark_color; 
  		   background-color: $light_color_sel;
      }
  	   &::before {
	       border-bottom: 1px solid $dark_color;
	       border-left: 1px solid $dark_color;
       }
    }
    .tree-children::after {
      border-left: 1px solid $dark_color;
    }
    tree-node:last-child > .tree-node > .tree-children::after {  // does not work :/
         border-left: none;
    }
    .tree-node-focused > .node-wrapper > .node-content-wrapper {
      background-color: $light_color_sel !important;   
      color: $dark_color !important;
    } 
    .tree-node-active > .node-wrapper > .node-content-wrapper {
      background-color: $dark_color_sel !important;
    }
  }
  .note-editor-container {
    	border: solid 2px $dark_color;
      background-color: $very_light_color;
     	header {  // always light on dark
    	  @if lightness($dark_color) > lightness($light_color) {
          background-color: $light_color;
          color: $dark_color;
        } @else {
          color: $light_color;
          background-color: $dark_color;
        }
      }

    	.note-editor-wrapper {
    		.note-editor-placeholder {
			    color: $dark_color;
        }
        color: $dark_color;
      }
   }
   .notebook-title {
      background-color: $very_light_color;
      color: $dark_color; 
   }
  .info-status {
    color: $info_msg_color;
    background-color: $info_msg_bgcolor;
  }
  .warning-status {
    color: $warning_msg_color;
    background-color: $warning_msg_bgcolor;
  }
  .error-status {
    color: $error_msg_color;
    background-color: $error_msg_bgcolor;
  }
  .sync-status {
    color: $very_light_color;
    background-color: $very_dark_color;   
  }
}

}