.note-editor-container {
	border-radius: 4px;
	border: solid 1px #607D8B;
	width:100%;
	height: 100%;
}

.note-editor-container header {
  background-color: #607D8B;
  color: #EEE;
  padding-left: .5em;
}

.note-editor-wrapper {
	padding: 0 10px 0 10px;
	position: relative;
	top: -10px; /* why, oh why do I need this ?!?!?! */
}

.note-editor-placeholder {
	position: absolute;
	top: 0;
	padding: 0 10px 0 10px;
	color: '#aaaaaa';
}

.note-editor {
	top: 0px; 
}

.title-editor p {
	margin: 0;
}