<div class="notebook-title">
   <span>{{name()}}</span>
   <button *ngIf="currentNotebook" (click)="newNote()" i18n-title title="Create note">
   	<i class="fa fa-plus-square"></i>
   </button>
</div>
<ul class="items">
	<li *ngFor="let n of notes" (click)="selectNote(n)" [class.selected-item]="n==selectedNote">
	    <i class="badge fa fa-sticky-note-o"></i>
	    <span *ngIf="!isEditable(n)" (dblclick)="startEdition(n)" 
	    	i18n-title title="double clic to edit title. drag&drop notes to change their orders"
	    	draggable="true" (dragstart)="dragNote($event, n)"
	    	(drop)="dropNote($event, n)" (dragover)="allowDropNote($event)">
	    	{{ n.title }}
	    </span>
	    <input *ngIf="isEditable(n)" [(ngModel)]="n.title" 
	    	i18n-title title="Enter or blur to store the new title. Escape to cancel..."
	    	placeholder="note title" (keyup)="checkEndEdition($event, n)" (blur)="endEdition(n)">
	    <button (click)="deleteNote(n); $event.stopPropagation()" i18n-title title="delete note">
	    	<i class="fa fa-trash-o"></i>
	    </button>
	    <!--button (click)="toggleEdition(n.data.id); $event.stopPropagation()"><i class="fa fa-pencil-square-o"></i></button-->
	</li>
</ul>
